<a href="https://colab.research.google.com/github/Michalinh0/DS2022/blob/main/Classification/Covertype.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Set up

Imports

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk
import pandas as pd
import numpy as np
import seaborn
from sklearn import preprocessing

Prepare dataset

In [6]:
covertype_dataset = pd.read_csv("https://raw.githubusercontent.com/Michalinh0/DS2022/main/Classification/sources/covtype.data")

strOfNames = ["Elevation" , "Aspect" , "Slope" , "Horizontal_Distance_To_Hydrology" , "Vertical_Distance_To_Hydrology" , "Horizontal_Distance_To_Roadways" , "Hillshade_9am" , "Hillshade_Noon" , "Hillshade_3pm" , "Horizontal_Distance_To_Fire_Points"]
for i in range(4):
  strOfNames.append("Wilderness_Area" + str(i+1))
for i in range(40):
  strOfNames.append("Soil_type" + str(i+1))
strOfNames.append("Cover_type")

covertype_dataset.columns = strOfNames

In [7]:
input_vector = strOfNames[0:54]
print(input_vector)

['Elevation', 'Aspect', 'Slope', 'Horizontal_Distance_To_Hydrology', 'Vertical_Distance_To_Hydrology', 'Horizontal_Distance_To_Roadways', 'Hillshade_9am', 'Hillshade_Noon', 'Hillshade_3pm', 'Horizontal_Distance_To_Fire_Points', 'Wilderness_Area1', 'Wilderness_Area2', 'Wilderness_Area3', 'Wilderness_Area4', 'Soil_type1', 'Soil_type2', 'Soil_type3', 'Soil_type4', 'Soil_type5', 'Soil_type6', 'Soil_type7', 'Soil_type8', 'Soil_type9', 'Soil_type10', 'Soil_type11', 'Soil_type12', 'Soil_type13', 'Soil_type14', 'Soil_type15', 'Soil_type16', 'Soil_type17', 'Soil_type18', 'Soil_type19', 'Soil_type20', 'Soil_type21', 'Soil_type22', 'Soil_type23', 'Soil_type24', 'Soil_type25', 'Soil_type26', 'Soil_type27', 'Soil_type28', 'Soil_type29', 'Soil_type30', 'Soil_type31', 'Soil_type32', 'Soil_type33', 'Soil_type34', 'Soil_type35', 'Soil_type36', 'Soil_type37', 'Soil_type38', 'Soil_type39', 'Soil_type40']

In [30]:
#plot = plt.scatter(,covertype_dataset["Elevation"])
covertype_dataset.describe()
#seaborn.displot(covertype_dataset , x = "Elevation")
#seaborn.displot(covertype_dataset , x = "Aspect")
#seaborn.displot(covertype_dataset , x = "Slope")
#seaborn.displot(covertype_dataset , x = "Horizontal_Distance_To_Hydrology")
#seaborn.displot(covertype_dataset , x = "Vertical_Distance_To_Hydrology")
#seaborn.displot(covertype_dataset , x = "Horizontal_Distance_To_Roadways")
#seaborn.displot(covertype_dataset , x = "Hillshade_9am")
#seaborn.displot(covertype_dataset , x = "Hillshade_Noon")
#seaborn.displot(covertype_dataset , x = "Hillshade_3pm")
#seaborn.displot(covertype_dataset , x = "Horizontal_Distance_To_Fire_Points")

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_type32,Soil_type33,Soil_type34,Soil_type35,Soil_type36,Soil_type37,Soil_type38,Soil_type39,Soil_type40,Cover_type
count,581011.000000,581011.000000,581011.000000,581011.000000,581011.000000,581011.000000,581011.000000,581011.000000,581011.000000,581011.000000,...,581011.000000,581011.000000,581011.000000,581011.000000,581011.000000,581011.000000,581011.000000,581011.000000,581011.000000,581011.000000
mean,2959.365926,155.656988,14.103723,269.428236,46.418935,2350.149779,212.146033,223.318701,142.528253,1980.283828,...,0.090392,0.077716,0.002773,0.003255,0.000205,0.000513,0.026803,0.023762,0.015060,2.051465
std,279.984569,111.913733,7.488234,212.549538,58.295250,1559.254343,26.769909,19.768711,38.274561,1324.184340,...,0.286743,0.267725,0.052584,0.056957,0.014310,0.022641,0.161508,0.152307,0.121792,1.396500
min,1859.000000,0.000000,0.000000,0.000000,-173.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2809.000000,58.000000,9.000000,108.000000,7.000000,1106.000000,198.000000,213.000000,119.000000,1024.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,2996.000000,127.000000,13.000000,218.000000,30.000000,1997.000000,218.000000,226.000000,143.000000,1710.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
75%,3163.000000,260.000000,18.000000,384.000000,69.000000,3328.000000,231.000000,237.000000,168.000000,2550.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
max,3858.000000,360.000000,66.000000,1397.000000,601.000000,7117.000000,254.000000,254.000000,254.000000,7173.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.000000

Normalization of data

In [36]:
x = covertype_dataset[input_vector]
y = covertype_dataset["Cover_type"]

for i in range(54):
  array = covertype_dataset.iloc[:,i]
  normalized = preprocessing.normalize(array)

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
count,581011.000000,581011.000000,581011.000000,581011.000000,581011.000000,581011.000000,581011.000000,581011.000000,581011.000000,581011.000000,...,581011.000000,581011.000000,581011.000000,5.810110e+05,5.810110e+05,5.810110e+05,5.810110e+05,581011.000000,581011.000000,581011.000000
mean,0.694705,0.037415,0.003527,0.062179,0.011274,0.473398,0.050413,0.053016,0.033865,0.412571,...,0.000011,0.000022,0.000019,6.677511e-07,7.044202e-07,4.255642e-08,9.539000e-08,0.000005,0.000005,0.000003
std,0.160143,0.030569,0.002546,0.049650,0.015207,0.214233,0.015350,0.014955,0.013812,0.187967,...,0.000052,0.000071,0.000067,1.285552e-05,1.246340e-05,2.977422e-06,4.214802e-06,0.000033,0.000032,0.000026
min,0.318474,0.000000,0.000000,0.000000,-0.059731,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
25%,0.577103,0.012761,0.001766,0.023677,0.001481,0.305075,0.038763,0.041632,0.024027,0.268355,...,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
50%,0.712996,0.029042,0.002902,0.050871,0.006471,0.477152,0.049253,0.052527,0.031884,0.411329,...,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
75%,0.821358,0.056179,0.004547,0.088353,0.016138,0.644977,0.059661,0.062571,0.041336,0.549669,...,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
max,0.992112,0.176776,0.023347,0.297469,0.150797,0.890341,0.126210,0.123664,0.123977,0.921661,...,0.000374,0.000347,0.000379,3.636352e-04,2.842716e-04,2.240991e-04,2.167326e-04,0.000296,0.000298,0.000290